*{

  background-color: #edd6fc;
}


.genre{

  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  text-align: center;
  justify-content: center;
  color: red;
  


}

h1{

    text-align: center;
}

h2{

    text-align: center;
}

h3{

    text-align: center;
}

.style{

  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  text-align: center;
  justify-content: center;
  color: red;

}

.artists{

  display: grid;
  grid-template-columns: 200px 200px;
  text-align: center;
  justify-content: center;
  color: red;

}